* {
    padding: 0rem;
    margin: 0rem;
    background-color: #DDD0C8;
    color: #323232;
    font-weight: bold;
    /* text-decoration: none; */
}

body {
    border: .3rem solid #323232;
    background-color: #DDD0C8;
}

.main {
    padding: 10px;
}


.image_logo {
    width: 8rem;
    height: 8rem;
}

.color_my {
    color: #323232;
    font-weight: bold;
}

.dropdown-item:hover {
    background-color: #323232;
    color: #DDD0C8;
    font-weight: bold;
}

;

.bg-dark {
    color: #DDD0C8;
}

.dropdown-item {
    font-weight: bold;
}



.input {
    display: block;
    margin: 2%;
    padding: 2%;
    background: #323232;
    color: #DDD0C8;
    padding-right: 200px;
    border-radius: 20px;
}

;

label {
    display: block;
}

;

.h3 {
    padding-left: 200px;
}


form{
    border: #323232 2px solid;
    
}

.submit {
    text-align: center;
    padding: 10px 100px;
    margin: 10px 10px;
    background: #323232;
    color: #DDD0C8;
    border-radius: 20px;
}

@media (min-width: 320px) and (max-width: 425px) {
    .input {
        display: block;
        margin: 2%;
        padding: 2%;
        background: #323232;
        color: #DDD0C8;
        padding-right: 50px;
        border-radius: 20px;
    }
}


@media (min-width: 425px) and (max-width: 600px) {
    .input {
        display: block;
        margin: 2%;
        padding: 2%;
        background: #323232;
        color: #DDD0C8;
        padding-right: 100px;
        border-radius: 20px;
    }
}